{{>head}}
    <div class='container'>
        {{>header}}
        <h1>{{title}}</h1>
        <p>{{creator}}</p>
        <a href='#'><img src='img/cat1.jpg' alt='nice cat' /></a>

        </div>
        <script src='js/example.js'></script>
{{>footer}}